* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}

p {
    margin: 0;
}

.header {
    width: 100%;
    height: 56px;
    background: #4184f5;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.header__title {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 56px;
    color: #fff;
    /*color: rgba(255,255,255,.7);*/
}
.main {
    overflow: auto;
    position: relative;
    width: 100%;
    height: 100%;
    transition-duration: 400ms;
    transition-property: transform;
}
.main-content {
    padding-top: 56px;
    padding-bottom: 56px;
    margin: 10px 20px;
}
.tool-bar {
    width: 100%;
    height: 56px;
    background: #4184f5;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    overflow-x: scroll;
}
.tool-content {
    height: 56px;
    line-height: 56px;
}
.tool-right {
    position: fixed;
    height: 56px;
    line-height: 56px;
    background: #4184f5;
    box-shadow: 0 0 20px rgba(0,0,0,.5);
    bottom: 0;
    right: 0;
    padding: 0 10px;
}


.code-previewer {

}

.tree {
}
.tree ul {
    position: relative;
}
.tree ul::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(0,0,0,.1);
    transform: scaleY(.5);
}
.tree-item{
    position: relative;
    line-height: 32px;
    height: 48px;
    min-height: 48px;
    padding: 8px 16px;
}
.tree-item::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(0,0,0,.1);
    transform: scaleY(.5);
}
.tree-item:hover {
    background-color: rgba(0,0,0,.1);
}



.panel {
    z-index: 1000;
    width: 200px;
    position: absolute;
    background-color: #ffffff;
    top: 56px;
    height: calc(100% - 56px * 2);
    display: block;
    transition-duration: 400ms;
}
.panel-left {
    transform: translate3d(-100%, 0, 0);
    left: 0;
}
.panel-right {
    transform: translate3d(100%, 0, 0);
    right: 0;
}
.panel-left.panel-open {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 20px rgba(0,0,0,.5);

}
.panel-right.panel-open {
    transform: translate3d(0, 0, 0);
    box-shadow: 0 0 20px rgba(0,0,0,.5);

}
.panel-content {
    /*margin: 20px;*/
}

.loader {

}


/*==============================
    Search popup styling
==============================*/
.popup .searchbar-input {
    height: 38px;
}
.popup .searchbar {
    height: 100%;
}
.popup .list-block {
    margin: 0;
}
.popup .list-block span {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    margin-left: 5px;
}
.popup .list-block .item-link .item-inner {
    background: none;
}
.popup .preloader {
    position: absolute;
    right: 40px;
    width: 24px;
    height: 24px;
    top: 50%;
    margin-top: -12px;
    opacity: 0.8;
    pointer-events: none;
    display: none;
}



/*==============================
    Icon styling
==============================*/
.size-14 { font-size: 14px }
.size-16 { font-size: 16px }
.size-18 { font-size: 18px }
.size-22 { font-size: 22px }
.size-25 { font-size: 25px }
.size-29 { font-size: 29px }
.size-50 { font-size: 50px }



